<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>LOGIN</title>
  </head>
  <body class="bg-gradient-to-t from-main to-white">
    <section class="mt-10 min-h-screen">
      <div class="container">
        <div class="flex flex-wrap justify-center p-2 md:space-x-16">
          <div id="login" class="items-center max-w-sm">
            <div class="bg-main w-full text-center p-5 rounded-2xl bg-opacity-50 shadow-xl shadow-main/50 md:text-xl">
              <h1 class="mb-8 text-main text-center block font-bold text-4xl md:text-6xl">LOGIN</h1>
              <form action="/" method="post">
                <label for="username">USERNAME</label>
                <br />
                <input type="text" name="username" class="text-white p-1 bg-main mb-4 bg-opacity-20 rounded-sm ring-1 ring-white" />
                <br />
                <label for="password">PASSWORD</label>
                <br />
                <input type="password" name="password" class="text-white p-1 bg-main mb-4 bg-opacity-20 rounded-sm ring-1 ring-white" />
                <br />
                <button id="variasi" type="submit" class="rounded-xl bg-main p-1 m-2 text-white hover:opacity-70 hover:text-slate-200 transition duration-500 ease-in-out">MASUK</button>
                <p>LUPA PASSWORD? <a href="" class="font-bold hover:font-extrabold">WA OWNER</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="bg-violet-400" />
    <footer class="">
      <p class="my-5 text-2xl text-white text-center"><a href="" class="hover:text-fuchsia-300 transition duration-500 ease-in-out">xxaexa</a></p>
    </footer>
  </body>
</html>
