<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eXa-Voucher</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="bg-gradient-to-t from-main to-white">
    <!-- header -->
    <header class="absolute top-0 left-0 w-full flex items-center z-10">
      <div class="container">
        <div class="flex items-center lg:justify-center relative">
          <div class="px-4">
            <a href="#home" class="font-bold text-lg block py-6"><img src="./img/exa.png" alt="exaLogo" class="w-10 lg:hidden" /></a>
          </div>
          <div class="flex items-center px-4">
            <button id="hamburger" name="hamburger" type="button" class="block absolute right-4 lg:hidden px-4">
              <span class="hamburger-line transition duration-300 ease-in-out origin-top-left"></span>
              <span class="hamburger-line transition duration-300 ease-in-out"></span>
              <span class="hamburger-line transition duration-300 ease-in-out origin-bottom-left"></span>
            </button>
            <!-- nav -->
            <nav id="nav-menu" class="hidden absolute py-5 bg-white shadow-lg rounded-lg max-w-[250px] top-full lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none lg:justify-center">
              <ul class="block lg:flex">
                <li class="group">
                  <a href="" class="text-dark text-base py-2 mx-8 flex group-hover:text-blue-100">HOME</a>
                </li>
                <li class="group">
                  <a href="" class="text-dark text-base py-2 mx-8 flex group-hover:text-blue-100">VOUCHER</a>
                </li>
                <li class="group">
                  <a href="" class="text-dark text-base py-2 mx-8 flex group-hover:text-blue-100">TRACK</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- MIX -->
    <section id="voucher" class="mb-20 pb-5 pt-16 h-screen">
      <div class="container">
        <div class="flex flex-wrap justify-center p-2 md:text-2xl">
          <div class="mt-8 max-w-lg">
            <h1 class="mb-8 text-main text-center block font-bold text-4xl md:text-6xl">TRACK</h1>
            <div class="mx-auto text-center p-5 rounded-2xl shadow-xl shadow-main/50">
              <div class="tata max-w-sm">
                <p>Masukan Kode Unik</p>
                <form action="">
                  <div class="search">
                    <label for="cari">
                      <input type="text" name="uid" class="p-1 bg-main mb-4 bg-opacity-20 rounded-sm ring-1 ring-white" />
                    </label>
                  </div>
                  <button class="w-24 rounded-xl bg-main p-1 m-2 text-white hover:opacity-70 hover:text-slate-200 transition duration-500 ease-in-out">CARI</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="bg-violet-400" />
    <footer class="">
      <p class="my-5 text-2xl text-white text-center"><a href="" class="hover:text-fuchsia-300 transition duration-500 ease-in-out">xxaexa</a></p>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
