<%- include("./../partials/head.ejs") %>
<!-- INVOICE -->

<section class="mb-20 pb-5 pt-16 min-h-screen">
  <div class="container">
    <div class="flex flex-wrap justify-center p-2">
      <p>kodeunik</p>
      <br />
      <p><%= id %></p>
    </div>
  </div>
</section>
<%- include("./../partials/footer.ejs") %>
